

    <% if current_user %>
     <h1>Hello <%= current_user.username %></h1>

    <%= link_to "Edit profile", edit_user_registration_path %>
    <%= button_to "Sign out", destroy_user_session_path , method: :delete  %>
     <br> <br>
    <h2> Your lists </h2>
    <br>
    <%= link_to "See all your lists", lists_path %>
    <%= link_to "Create a new list", new_list_path %>
    <br>
    <h2> Lists shared with you</h2>
    <% else %>
    <h1>Hello please sign in or join us</h1>
      <%= link_to "Sign in", new_user_session_path%>
      <%= link_to "Not a member yet ? Join for free!", new_user_registration_path%>
    <% end %>
